table {
    width: 100%;
}

.example-button-row {
    display: flex;
    justify-content: flex-end;
}

.example-button-row button {
    margin-bottom: 1.5rem;
}

.enlace {
    text-decoration: underline;
}

.enlace:hover {
    cursor: pointer;
}